@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
main,
section,
article,
footer,
div,
nav,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", "Sawarabi Mincho", serif;
}
